In [54]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.express as pe
import plotly.graph_objects as pg
import numpy as np

In [187]:
df = pd.read_csv('pizza_sales.csv')
df.head()
# df.columns

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,01-01-2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,01-01-2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,01-01-2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,01-01-2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,01-01-2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

<h2><b><u>Objectives</u></b></h2>
<ol>
<li> Collect and preprocess sales data, including order details, time of purchase, and menu items</li>
<li>Perform exploratory data analysis to identify patterns in sales, popular menu items, peak ordering hours, and customer preferences using visually appealing visuals to further explain findings</li>
</ol>

In [14]:
#1 identify dtypes, chekcing for null data and maikng sure the data within the columns are homogenous
df.describe()

           pizza_id      order_id      quantity    unit_price   total_price
count  48620.000000  48620.000000  48620.000000  48620.000000  48620.000000
mean   24310.500000  10701.479761      1.019622     16.494132     16.821474
std    14035.529381   6180.119770      0.143077      3.621789      4.437398
min        1.000000      1.000000      1.000000      9.750000      9.750000
25%    12155.750000   5337.000000      1.000000     12.750000     12.750000
50%    24310.500000  10682.500000      1.000000     16.500000     16.500000
75%    36465.250000  16100.000000      1.000000     20.250000     20.500000
max    48620.000000  21350.000000      4.000000     35.950000     83.000000



<h3><b><u>Analytical Questions</u></b></h3>

<p>The current data analysis project seeks to examine pizza sales patterns with the goal of
identifying trends, factors, and opportunities that impact sales performance. Key Performance Index (KPI):</p>

<ol>
<li>What is the Total Revenue made on Sales</li>
<li>What is Average Revenue</li>
<li>What is the Total number of Order made</li>
<li>What is the Average Order Value</li>
<li>What is the Total Quantity sold Patterns and Trends</li>
<li>Identifying the pizza size that generated the highest sales in the first quarter of the year </li>
<li>Determining the pizza category that recorded the highest sales in December
<li>Analyze sales trends across different days of the week, months, days, and time periods.</li>
<li>Identifying which pizza size exhibits the highest turnover rate in terms of quantity ordered</li>
<li>Visualize the trajectory of total income over time and assessing how prices change as time progresses</li>

In [23]:
#1 total revenue made on sales

# relevant column data  ---- > unit_price, total_price
total_price_sum = df['total_price'].sum()

print(f'The total revenue made in sales is {total_price_sum}')

The total revenue made in sales is 817860.05

In [26]:
#2 Average revenue

avg_rev = df['total_price'].mean().round(2)

print(f'The average revenue made is {avg_rev}')

The average revenue made is 16.82

In [40]:
#3 Total number of orders made

total_orders = df['order_id'].nunique()
print(f'The total number of orders is {total_orders}')

The total number of orders is 21350

In [163]:
# What is the average order value

total_orders = df['order_id'].nunique()

total_price_sum = df['total_price'].sum()

avg_ord_val = (total_price_sum / total_orders).round(2)

print(f'The Average order value is {avg_ord_val}')

The Average order value is 38.31

In [164]:
#5 What is total quantity sold, patterns and trends

total_quant = df['quantity'].sum()

In [176]:
df.order_time

0        11:38:36
1        11:57:40
2        11:57:40
3        11:57:40
4        11:57:40
           ...
48615    21:23:10
48616    21:23:10
48617    21:23:10
48618    22:09:54
48619    23:02:05
Name: order_time, Length: 48620, dtype: object

In [188]:
df['order_date'] = pd.to_datetime(df['order_date'], format = "%d-%m-%Y",errors='coerce' )
df[['order_date']]

      order_date
0     2015-01-01
1     2015-01-01
2     2015-01-01
3     2015-01-01
4     2015-01-01
...          ...
48615 2015-12-31
48616 2015-12-31
48617 2015-12-31
48618 2015-12-31
48619 2015-12-31

[48620 rows x 1 columns]

In [189]:
#6 Identify the pizza size that generated the highest sales during the first quarter of the year

# filter dataframe for data in the first quarter of the year
day = pd.to_datetime('2015-04-01',format = "%Y-%m-%d")
first_qurt = df[df['order_date'] < day]

#pizza that generated sales the higest sales
new = first_qurt.groupby('pizza_size')[['total_price']].sum().reset_index().sort_values(by = 'total_price', ascending = False)

#Visualiztaion using a pie chart in plotly
fig = pe.pie(new, names = 'pizza_size', values = 'total_price', color = 'pizza_size', title='Pizza size sales for first quarter')
fig.update_layout(title_x = 0.5)
fig.show()

In [172]:
#7 Determining the pizza category that recorded the highest sales in December

#filter for December date range

dec_filter = pd.to_datetime('2015-12-01', format = "%Y-%m-%d", errors = "coerce")
December = df[df['order_date'] >= dec_filter]

#Pizza category with the highest sales in december
pizza_cat = df.groupby('pizza_category')[['total_price']].sum().sort_values(by = 'total_price', ascending = False).idxmax().values[0]
print(f'The pizza category with the higest recorded sales in December is the {pizza_cat} pizza category')

The pizza category with the higest recorded sales in December is the Classic pizza category

In [ ]:
#8 Analyze sales trends across different days of the week, months, days, and time periods.

#Segment data into weekdays, months, time periods

#Convert data in order_time column to time format to be usable

# creation of sublpots for each categiry of analysis (regplot / boxplot)
#sales per week
#sales per month
#sales per days
#sales for the different time periods of the day. Establishing time bins of either(morning, afternoon and evening), (per hour), (am,pm)

In [192]:
#9 Identifying which pizza size exhibits the highest turnover rate in terms of quantity  ordered. The pizza size that is ordered the most in terms of quantity

size_Df = df.groupby('pizza_size')[['quantity']].sum().reset_index().sort_values(by = 'quantity', ascending=False)
size_Df

  pizza_size  quantity
0          L     18956
1          M     15635
2          S     14403
3         XL       552
4        XXL        28

In [199]:
#10 Visualize the trajectory of total income over time and assessing how prices change as time progresses

order = df.groupby('unit_price')[['pizza_category']].sum().sort_values(by = 'unit_price', ascending = False)
order
# Linear regression/ Dist plot?

                                               pizza_category
unit_price
35.95       ClassicClassicClassicClassicClassicClassicClas...
25.50       ClassicClassicClassicClassicClassicClassicClas...
23.65       SupremeSupremeSupremeSupremeSupremeSupremeSupr...
21.00       VeggieVeggieVeggieVeggieVeggieVeggieVeggieVegg...
20.75       SupremeChickenSupremeSupremeSupremeVeggieChick...
20.50       ClassicClassicClassicClassicClassicClassicClas...
20.25       VeggieVeggieVeggieVeggieSupremeVeggieVeggieVeg...
18.50       VeggieVeggieVeggieVeggieVeggieVeggieVeggieVegg...
17.95       VeggieVeggieVeggieVeggieVeggieVeggieVeggieVegg...
17.50       ClassicClassicClassicClassicClassicClassicClas...
16.75       ChickenChickenChickenChickenChickenChickenChic...
16.50       SupremeSupremeSupremeSupremeSupremeSupremeSupr...
16.25       SupremeSupremeSupremeSupremeSupremeSupremeSupr...
16.00       ClassicVeggieVeggieClassicClassicClassicVeggie...
15.25       ClassicClassicClassicClassicClassicClassicClas...
14.75       VeggieVeggieVeggieVeggieVeggieVeggieVeggieVegg...
14.50       ClassicClassicClassicClassicClassicClassicClas...
13.25       ClassicClassicClassicClassicClassicClassicClas...
12.75       ChickenChickenVeggieChickenChickenChickenVeggi...
12.50       SupremeSupremeSupremeSupremeClassicSupremeClas...
12.25       SupremeSupremeSupremeSupremeSupremeSupremeSupr...
12.00       ClassicClassicVeggieVeggieVeggieClassicClassic...
11.00       ClassicClassicClassicClassicClassicClassicClas...
10.50       ClassicClassicClassicClassicClassicClassicClas...
9.75        ClassicClassicClassicClassicClassicClassicClas...

In [144]:
df.columns

Index(['pizza_id', 'order_id', 'pizza_name_id', 'quantity', 'order_date',
       'order_time', 'unit_price', 'total_price', 'pizza_size',
       'pizza_category', 'pizza_ingredients', 'pizza_name'],
      dtype='object')

In [190]:
df['order_time'] = pd.to_datetime(df['order_time'],format = "%H:%M:%S",errors='coerce').dt.time
df.order_time

0        11:38:36
1        11:57:40
2        11:57:40
3        11:57:40
4        11:57:40
           ...
48615    21:23:10
48616    21:23:10
48617    21:23:10
48618    22:09:54
48619    23:02:05
Name: order_time, Length: 48620, dtype: object

In [191]:
df.order_time

0        11:38:36
1        11:57:40
2        11:57:40
3        11:57:40
4        11:57:40
           ...
48615    21:23:10
48616    21:23:10
48617    21:23:10
48618    22:09:54
48619    23:02:05
Name: order_time, Length: 48620, dtype: object

In [11]:
word = 'The quick brwon fox jumped over the lazy dog'
print(word.strip('t'))
print(word.split( ))

The quick brwon fox jumped over the lazy dog
['The', 'quick', 'brwon', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']